*{
    margin: 0;
    padding: 0;
}
.row1{
    background-color: white;
    width: 250px;
    height: 200px;
    margin: auto;
    padding: 21px;
    border: 5px solid#fff;
    box-shadow: 4px 5px 22px 0px;
    padding-left: 15px;
    border-radius: 6px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}
.row1 input{
    border: 2px solid#dddfe2;
    width: 220px;
    padding: 10px;
    font-size: 12px;
    opacity: 0.8;
    margin-bottom: 5px;
}
::placeholder{
    font-size: 15px;
    color: #9d8084;
}
.btn1{
    background-color: #166fe5;
    color: white;
    width: 244px;
    border: solid #166fe5;
    font-size: 24px;
   font-family: Arial, Helvetica, sans-serif;
    border-radius: 6px;
    margin-bottom: 8px;
    margin-top: 8px;
}
.btn1:hover{
    cursor: pointer;
    opacity: 0.8;
}
.bb{
    color: rgb(31, 31, 192);
    text-decoration: none;
    font-size: 14px;
    /* margin-top:16px; */
    margin-left: 64px;
}
hr{
    border: 1px solid#dadde1;
    margin-top: 8px;
}
.btn2{
    background-color: rgb(51, 187, 51);
    color: white;
    font-size: 15px;
    border: 1px solid green;
    padding: 10px;
    border-radius: 6px;
    font-weight: bold;
    margin-left: 34px;
    margin-top: 10px;
}
.btn2:hover{
    cursor: pointer;
    opacity: 0.8;
}